.container {
    max-width: 1100px;
    margin: 10px ;
    background-color: #ffdb69;
    align-items: center;
    padding: 10px;
}

.cards-component {
    padding: 10px;
    flex-basis: 30%;

}

.descryption-component {
    padding: 20px;
    margin-bottom: 20px;
    position: center;
    flex-basis: 30%;

}

@media (min-width:800px) {
    .container {
        display: flex;
        justify-content: space-between;
    }
}