.container {
    max-width: 635px;
    margin: 10px ;
    background-color: #ffdb69;
    align-items: center;
    padding: 10px;

}

.container-mouse-out {
    max-width: 315px;
    margin: 10px ;
    background-color: #ffdb69;
    align-items: center;
    padding: 10px;

}

.cards-component {
    padding: 10px;
}


.descryption-component {
    padding: 20px;
    margin-bottom: 20px;
    position: absolute;


}

@media (min-width:700px) {
    .container {
        display: flex;

    }
}